### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [19]:
numofplayers = purchase_data["SN"].nunique()
print(f"Total Number of Players: {numofplayers}")

Total Number of Players: 576

In [20]:
player_count = pd.DataFrame({"Total Players": [numofplayers]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
groupbyitem = purchase_data.groupby(["Item ID"])
Uniquenum = groupbyitem["Item Name"].value_counts()
len(Uniquenum)

183

In [22]:
avgprice = purchase_data["Price"].mean()
rounded = round(avgprice, 2)
rounded

3.05

In [23]:
totalpurchases = purchase_data["Purchase ID"].count()
totalpurchases

780

In [24]:
totalrevenue = purchase_data["Price"].sum()
totalrevenue

2379.77

In [25]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [len(Uniquenum)], "Average Price": f"${round(avgprice,2)}", "Number of Purchases": [totalpurchases], "Total Revenue": [totalrevenue] })
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     183         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [26]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
groupedbysn = purchase_data.groupby(["SN"])
Gendernums = groupedbysn["Gender"].describe()
Gendernumssum = Gendernums["top"].value_counts()
Gendernumssum

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: top, dtype: int64

In [27]:
malepercent = Gendernumssum[0] / numofplayers
malepercentage = round(malepercent*100,2)
malepercentage

84.03

In [28]:
femalepercent = Gendernumssum[1] / numofplayers
femalepercentage = round(femalepercent*100,2)
femalepercentage

14.06

In [29]:
otherpercent = Gendernumssum[2] / numofplayers
otherpercentage = round(otherpercent*100,2)
otherpercentage

1.91

In [30]:
Gender_Demographics = pd.DataFrame({"Total Count": Gendernumssum, "Percentage of Players": [f"{malepercentage}%",f"{femalepercentage}%",f"{otherpercentage}%"  ] })
Gender_Demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
groupedbygender = purchase_data.groupby(["Gender"])
purchasecount = groupedbygender["Purchase ID"].count()
purchasecount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [32]:
avgpurchaseprice = groupedbygender["Price"].mean()
avgpp = round(avgpurchaseprice, 2)
avgpp

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [33]:
totalpurchasevalue = groupedbygender["Price"].sum()
totalpurchasevalue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [36]:
#Average Purchase Total per Person by Age Group.. need to find count of players for male female and others 
avgtotalpurchase = totalpurchasevalue / Gendernumssum
avgtotalpurchase = round(avgtotalpurchase, 2)
avgtotalpurchase

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [43]:
Purchasing_Analysis = pd.DataFrame ({"Purchase Count": purchasecount, "Average Purchase Price": avgpp, })
Purchasing_Analysis

                       Purchase Count  Average Purchase Price
Gender
Female                            113                    3.20
Male                              652                    3.02
Other / Non-Disclosed              15                    3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [29]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [30]:
#still thinking about this one 
agedemo_data = purchase_data.groupby("Age Demographics")
agedemo_data.count()

                  Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Demographics
<10                        32   32   32      32       32         32     32
10-14                      19   19   19      19       19         19     19
15-19                     136  136  136     136      136        136    136
20-24                     365  365  365     365      365        365    365
25-29                     101  101  101     101      101        101    101
30-34                      73   73   73      73       73         73     73
35-39                      41   41   41      41       41         41     41
40+                        13   13   13      13       13         13     13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80